.login-background {
    background: url('assets/images/endpoint-bg.png');
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: center;
    background-size: cover;
}