<!-- Begin Page Content -->
<div class="container-fluid mt-4 table-layout">
  <!-- Page Heading -->
  <div
    class="row d-flex align-items-center justify-content-between mb-4 pl-3 pr-3"
  >
    <div class="col-lg-4">
      <p class="mb-0">Global/</p>
      <h3 class="mb-2">Subscriptions</h3>
    </div>
  </div>
  <div class="bootstrap-table bootstrap4">
    <div class="fixed-table-container" style="padding-bottom: 0px">
      <div class="fixed-table-body">
        <table class="table-borderless table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                <div class="th-inner">Name</div>
              </th>
              <th>
                <div class="th-inner">State</div>
              </th>
              <th>
                <div class="th-inner">Created On</div>
              </th>
              <th>
                <div class="th-inner">Number of users</div>
              </th>
              <th>
                <div class="th-inner">Endpoints</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subscription of subscriptions; index as i">
              <td>{{ subscription.name }}</td>
              <td>{{ subscription.state }}</td>
              <td>{{ subscription.createdOn | date: "dd/MM/yyyy" }}</td>
              <td>{{ subscription.numberOfUsers }}</td>
              <td>{{ subscription.deviceCount || 0 }}</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination
          *ngIf="allItemsCount"
          [(page)]="pgNr"
          [pageSize]="pageSize"
          [collectionSize]="allItemsCount"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="pageChange()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
