.intune-input {
  margin-right: 5px;
}

.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.minw-200 {
  width: 300px !important;
}

.maxw-320 {
  max-width: 320px !important;
}
