#subscription-search-box {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

li {
  list-style-type: none;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.search-result li {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  cursor: pointer;
  padding: 0.5rem;
  box-sizing: border-box;
  color: black;
}

.search-result li:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.search-result li.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
