<div class="modal-header">
  <h3 class="modal-title" id="SelectGroupsLabel">Select Groups</h3>
  <button class="close" type="button" aria-label="Close" (click)="close()">
    <span aria-hidden="true">
      <img src="assets/icons/close.svg" />
    </span>
  </button>
</div>
<div *ngIf="errorMessage; else elseBlock" class="modal-body">
  <p class="text-danger">
    {{ errorMessage }}
  </p>
</div>
<ng-template #elseBlock>
  <div class="modal-body">
    <div class="form-info">
      <input
        id="groups-search-box"
        #groupsSearchBox
        type="search"
        placeholder="Group Name"
        (input)="onInput(groupsSearchBox.value)"
        (keydown)="onKeyDown($event)"
        required
        ngbAutofocus
      />
      <hr />
      <div
        id="all-groups-list"
        class="list-group border"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
        [scrollWindow]="false"
      >
        <button
          type="button"
          class="list-group-item list-group-item-action flex-column align-items-start border-0"
          [class.list-group-item-secondary]="isSelected(group)"
          (click)="selectGroup(i)"
          *ngFor="let group of filteredGroups; index as i"
        >
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ group.displayName }}</h6>
          </div>
          <small>{{ group.mail }}</small>
        </button>
      </div>
      <hr />
      <h5>Selected items</h5>
      <div id="selected-groups-list" class="list-group border">
        <button
          type="button"
          class="list-group-item list-group-item-action flex-column align-items-start border-0"
          (click)="removeGroup(group.id)"
          *ngFor="let group of selectedGroups; index as i"
        >
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ group.displayName }}</h6>
            <small class="text-danger">Remove</small>
          </div>
          <small>{{ group.mail }}</small>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer flex-column flex-lg-row">
    <div
      class="d-flex flex-row align-items-center flex-grow-1"
      *ngIf="selectedGroups.length <= 0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-exclamation-triangle text-center text-danger m-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
        />
        <path
          d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
        />
      </svg>
      <small class="flex-grow-1 form-text text-muted m-1">
        At least 1 item must be selected.
      </small>
    </div>
    <div class="d-flex flex-row">
      <button
        class="btn btn-outline-primary m-1"
        type="button"
        (click)="close()"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-primary m-1"
        (click)="passBack()"
        [disabled]="selectedGroups.length <= 0"
      >
        Select
      </button>
    </div>
  </div>
</ng-template>
