<div class="card o-hidden">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Reset password</h1>
          </div>
          <ng-container *ngIf="!resultStatus">
            <div class="text-center">
              <p class="mb-4">Choose your new password.</p>
            </div>
            <form
              (ngSubmit)="resetForm.form.valid && submit()"
              #resetForm="ngForm"
              class="user mb-4"
            >
              <div class="form-group">
                <input
                  name="password"
                  type="password"
                  [(ngModel)]="passwordResetDto.newPassword"
                  #password="ngModel"
                  required
                  pattern="{{ patterns.password }}"
                  maxlength="100"
                  class="form-control form-control-user"
                  placeholder="New password"
                />
                <div
                  *ngIf="resetForm.submitted && password.invalid"
                  class="alert alert-danger"
                >
                  <div *ngIf="password.errors?.required">
                    New password is required.
                  </div>
                  <div *ngIf="password.errors?.pattern">
                    Must contain at least a digit, an uppercase letter, a
                    lowercase letter, a special character, and at least 6 or
                    more characters.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  name="repeatPassword"
                  type="password"
                  [(ngModel)]="passwordResetDto.repeatPassword"
                  #repeatPassword="ngModel"
                  required
                  maxlength="100"
                  class="form-control form-control-user"
                  placeholder="Repeat new password"
                />
                <div
                  *ngIf="
                    resetForm.submitted &&
                    (repeatPassword.invalid ||
                      passwordResetDto.newPassword !==
                        passwordResetDto.repeatPassword)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="repeatPassword.errors?.required">
                    Repeat password is required.
                  </div>
                  <div
                    *ngIf="
                      passwordResetDto.repeatPassword &&
                      passwordResetDto.newPassword !==
                        passwordResetDto.repeatPassword
                    "
                  >
                    Passwords do not match.
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Reset Password
              </button>
            </form>
          </ng-container>
          <ng-container *ngIf="resultStatus === resultStatusValues.Successful">
            <p class="mb-4">
              Your password was successfully changed. You can now log in with
              the new password.
            </p>
            <button
              type="button"
              (click)="goToLogin()"
              class="btn btn-primary btn-user btn-block"
            >
              Go to Login
            </button>
          </ng-container>
          <ng-container *ngIf="resultStatus === resultStatusValues.Failed">
            <p>
              There was an error in changing your password. Your link might be
              invalid or expired.
            </p>
            <p class="mb-4">
              You can go to the Forgot Password page and request a new email
              with a reset link.
            </p>
            <button
              type="button"
              (click)="goToForgotPassword()"
              class="btn btn-primary btn-user btn-block"
            >
              Go to Forgot Password
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
