@import "src/assets/styles/variables";

#cronSelectorOptions {
    background-color: $background;
}

.text-dark-blue{
    color:$dark-blue;
}

#nextTextArea {
    width: auto;
    height: 100px;
}

#weekday-select {
    width: 8.5rem;
}

#monthweek-select {
    width: 8rem;
}