<div class="card o-hidden">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-12">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Forgot password?</h1>
          </div>
          <ng-container
            *ngIf="!resetEmailWasSent; else resetEmailWasSentTemplate"
          >
            <p class="mb-4">
              Input your e-mail and we will send you a link to reset your
              password
            </p>
            <form
              (ngSubmit)="forgotForm.form.valid && submit()"
              #forgotForm="ngForm"
              class="user mb-4"
            >
              <div class="form-group">
                <input
                  name="emailInput"
                  type="email"
                  class="form-control form-control-user"
                  [(ngModel)]="email"
                  #emailInput="ngModel"
                  maxlength="256"
                  required
                  pattern="{{ patterns.email }}"
                  placeholder="E-mail"
                />
                <div
                  *ngIf="forgotForm.submitted && emailInput.invalid"
                  class="alert alert-danger"
                >
                  <div *ngIf="emailInput.errors?.required">
                    Email is required.
                  </div>
                  <div *ngIf="emailInput.errors?.pattern">
                    Please enter a valid email.
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-user btn-block">
                Reset Password
              </button>
            </form>
            <div class="text-center">
              <a routerLink="/{{ appRoutes.login }}">
                <span class="mr-2">
                  <!-- <img src="assets/icons/arrow-back.svg" /> -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16.44"
                    height="10.895"
                    viewBox="0 0 32.88 21.79"
                  >
                    <path
                      class="fill-color"
                      fill-rule="evenodd"
                      d="M1870,1403h-24.17l5.48,5.49a1.994,1.994,0,1,1-2.82,2.82l-8.8-8.8a2.256,2.256,0,0,1,0-3.02l8.8-8.8a1.994,1.994,0,1,1,2.82,2.82l-5.48,5.49H1870A2,2,0,0,1,1870,1403Z"
                      transform="translate(-1839.12 -1390.12)"
                    />
                  </svg>
                </span>
                Go back
              </a>
            </div>
          </ng-container>
          <ng-template #resetEmailWasSentTemplate>
            <p class="mb-4">
              If the account exists, an email is being sent. Please click the
              link when you get it.
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
