<div class="container-fluid mt-4">
  <div class="col-12 mb-3">
    <p>
      You will need a two-factor authenticator app like Microsoft Authenticator
      for
      <a
        href="https://play.google.com/store/apps/details?id=com.azure.authenticator"
        >Android</a
      >
      and
      <a
        href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458"
        >iOS</a
      >
      or Google Authenticator for
      <a
        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
        >Android</a
      >
      and
      <a href="https://apps.apple.com/us/app/google-authenticator/id388497605"
        >iOS</a
      >.
    </p>
    <p>
      Scan the QR code or enter this key <code>{{ key }}</code> in the
      authenticator app.
    </p>
    <qrcode
      *ngIf="key"
      qrdata="{{ qrUri }}"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <p>
      Once you have scanned the QR code or input the key above, your two factor
      authentication app will provide you with a unique code.
    </p>
    <p>Enter the code in the confirmation box below.</p>
    <form
      #codeForm="ngForm"
      (ngSubmit)="codeForm.form.valid && submit()"
      class="row pl-3 pr-3 mb-5 form-info"
    >
      <div class="input-group col-lg-3 mb-4">
        <label>Code</label>
        <input
          type="text"
          name="code"
          [(ngModel)]="enteredCode"
          #code="ngModel"
          required
          maxlength="7"
          autocomplete="off"
          pattern="{{ patterns.mfaCode }}"
        />
        <div
          *ngIf="codeForm.submitted && code.invalid"
          class="alert alert-danger"
        >
          The code is a 6 digit number.
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </form>
  </div>
</div>
